@charset "utf-8";

/**General Items**/

header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-decoration: none;
    font-family: "Michroma", 'Courier New', Courier, monospace, sans-serif;
    /**background-color: green;**/
}

.michroma-regular {
  font-family: "Michroma", 'Courier New', Courier, monospace, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.saira-subfont {
  font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

title{
    width: 500px;
}

body{

    background: #fde3c2;
}

/**Navigation**/

nav{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background: #c70000;
    margin-left: 300px;
    margin-bottom: 20px;
    width: 2000px;
    font-size: 40px;
    font-family: "Michroma", 'Courier New', Courier, monospace, sans-serif;
}

nav a {
    text-decoration:none;
}

nav ul{
    list-style-type: none;
    padding-left: 0;
}

nav li{
    display: inline;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 50px;
    text-decoration: none;
}
/**Main Content**/

#boxAlign1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
}

#boxAlign2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
}

#boxAlign3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
}

#features1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
    
}

#features2{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
   
}

#features3{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
    
}

#you{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
}

#yourcar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #c70000;
    font-size: 25px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
}

/**Footer**/

footer{
    padding-left: 650px;
    font-family: "Saira", 'Courier New', Courier, monospace, sans-serif;
    font-size: 20px;
    font-weight: 700;
}